.connect {
  position: absolute;
  top: 40px;
  right: 40px;
}


.btn {
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: center; 
}

.btn-log {
  border-radius: 5%;
  background: chocolate;
}


.form-log{
  position: fixed;
  top: 45%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: ghostwhite;
  padding: 8px;
  border-radius:3px;
  max-width: 335px;
}

.connect-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.btn-send {
  border-radius: 15px;
  font-size: 18px;
  margin:8px;
  background-color: darkgrey;
}

@media screen and (max-width : 500px){
  
  .connect {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    background-color: aliceblue;
  }
  
  .title {
    display: flex;
    font-size: 16px;
    margin: 16px;
  }
  
  .logo-rpg {
    width: 80px;
    height: 80px;
  }
  
  .btn-log {
   
    border-radius: 6px;  
    background: darkgray;
    color: snow;  
  }
  
  .form-log{
    display: flex;
    flex-direction: column;
  }

  .connect-form {
    flex-direction: column;
    flex: auto;
    border: 2px solid black;
    background-color: aliceblue;
  }
 
}
