@use 'src/styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid black;
  // background: rgba(148, 207, 255, 0.5);
  width: 80%;
  position: absolute;
  right: 0;
  & .title {
    position: relative;
    font-size: 60px;
    margin: auto;
    text-align: center;
    font-size: 6rem;
    color: white;
    text-shadow: 5px 2px 1px vars.$baseColor;
    font-family: 'Courgette', cursive;
  }
  & .btn-log {
    display: flex;
    width: 100px;
    height: fit-content;
    margin: 42px;
    justify-content: center;
    border-radius: 6px;
    background: darkgray;
    color: snow;
  }
  & .popup {
    display: flex;
  }
  & .titleLogo {
    margin: auto;
  }
}

@media screen and (max-width : 500px){
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    & .title {
      display: flex;
      font-size: 16px;
      margin: 16px;
    }
    & .btn-log {
      margin: 0 auto;
      border-radius: 6px;  
      background: darkgray;
      color: snow;  
    }
    & .popup {
      display: flex;
      flex-direction: column;
    }
  }
}
