.shop {
  &Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &Main {
    width: 25%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid black;
    margin: 0 auto;
  }
  &Inventory{
    background-color: #f0f;
    display: flex;
    width: 70%;
    height: 70%;
    margin: 10% auto;
    
  }

  
}
