
.character{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  .panel{
    padding: 15px;
    box-sizing: border-box;
    .inner-panel{
      height: 300px;
      background-color:#d4d3d3;
    }
  }
  .inventory-panel{
    flex-basis: 100%;
  }
  .equipement-panel{
    flex-basis: 50%;
  }
  .stat-panel{
    flex-basis: 50%;
  }
}

.inventory-category{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 362px;
  border: 1px solid #000;
  border-bottom: none;
  &:after{
    content:'';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #000;
  }
}

.menu-inventory{
  position: relative;
  width: 360px;
  font-size: 0px;
  border-bottom: 1px solid #000;

  .cat-name{
    display: inline-block;
    width: 120px;
    height: 40px;
    background-repeat:no-repeat;
    background-position: center;
    background-color: #e4e4e4;
    &:not(:first-child) {
      border-left: 1px solid #000;
    }
    &.vivres{
      background-image: url('../../../public/images/vivre/vivre.png');
    }
    &.ressources{
      background-image: url('../../../public/images/ressources/ressources.png');
    }
    &.equipement{
      background-image: url('../../../public/images/equipement/equipement.png');
    }
    &.on{
      background-color: #8a8a8a;
    }
    &:hover{
      background-color: #8a8a8a;
      & > span{
        display: block;
      }
    }
    & > span{
      display: none;
      position:absolute;
      top: -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      span{
        line-height: 1;
        padding: 5px 12px;
        font-size:14px;
        color: #ffffff;
        background: #000000;
      }
    }
  }
}

.object{
  position: relative;
  text-align: center;
  display: inline-block;
  width: 72px;
  height: 60px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box; 
  vertical-align: middle;
  background-color:#faebd7;
  &.on{
    background-color:#a78558;
  }
  .equipement &{
    width: 90px;
    background-color: #f0f8ff;
    &.on{
      background-color: #8e9498;
    }
    &:last-child{
      border-right: none;
    }
  }
  &:nth-child(5n) {
    border-right: none;
  }
  .view-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:hover{
      & + .name-wrapper{
        display: block;
      }
    }
  }
  .view{
    width: 50px;
    height: auto;
  }
  .name-wrapper{
    display: none;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    .name{
      padding: 2px 4px 3px;
      background: #000000;
      color: #ffffff;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

.details{
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 8px 12px;
  background: #000000;
  color:#ffffff;
  text-align: left;
  .close-details{
    position: absolute;
    top: 10px;
    right:10px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    color:#000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  .details-view{
    width: 70px;
  }
  .details-name{
    margin-bottom: 10px;
  }
  .detail-description{
    margin-bottom: 10px;
  }
  .quantity{
    
  }
}

// div stats 
.container-stat{
  display: flex;
    margin: 10px auto;
    width: auto;
    border-bottom: 2px solid black;
}

// image de fond pour le composent Inventory-item
.battle-gear {
  width: 300px;
  display: flex;
  margin: 0px auto;
}

.equipement-panel .inner-panel{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  .equip-block{
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    .img-equip img{
      width: 80px;
    }
  }
}
