.character {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  .panel {
    padding: 15px;
    box-sizing: border-box;
    .inner-panel {
      height: 300px;
      background-image: url('../../../public/images/bg/leather5.jpg');
      background-size: cover;
      background-color:#d4d3d3;
    }
  }
  .inventory-panel {
    flex-basis: 100%;
  }
  .equipement-panel {
    flex-basis: 50%;
  }
  .stat-panel {
    flex-basis: 50%;
  }
}

.inventory-panel .inner-panel{
  padding: 30px;
  font-size: 0px;
  & > div{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding: 0px 15px;
    font-size: 14px;
  }
}

.inventory-category{
  position: relative;
  width: 362px;
  margin: 0 auto;
  border: 1px solid #000;
  border-bottom: none;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #000;
  }
}

.menu-inventory {
  position: relative;
  width: 360px;
  font-size: 0px;
  border-bottom: 1px solid #000;

  .cat-name {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e4e4e4;
    &:not(:first-child) {
      border-left: 1px solid #000;
    }
    &.vivres {
      background-image: url("../../../public/images/vivre/vivre.png");
    }
    &.ressources {
      background-image: url("../../../public/images/ressources/ressources.png");
    }
    &.equipement {
      background-image: url("../../../public/images/equipement/equipement.png");
    }
    &.on {
      background-color: #8a8a8a;
    }
    &:hover {
      background-color: #8a8a8a;
      & > span {
        display: block;
      }
    }
    & > span {
      display: none;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      span {
        line-height: 1;
        padding: 5px 12px;
        font-size: 14px;
        color: #ffffff;
        background: #000000;
      }
    }
  }
}

.object {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 72px;
  height: 60px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #faebd7;
  &.on {
    background-color: #a78558;
  }
  .equipement & {
    width: 90px;
    background-color: #f0f8ff;
    &.on {
      background-color: #8e9498;
    }
    &:last-child {
      border-right: none;
    }
  }
  &:nth-child(5n) {
    border-right: none;
  }
  .view-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:hover {
      & + .name-wrapper {
        display: block;
      }
    }
  }

  .nbr{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 18px;
    height: 18px;
    border-radius: 15px;;
    text-align: center;
    line-height: 18px;
    background-color: #ab120d;
    color: #ffffff;
    font-size: 10px;
  }
  .view{
    width: 50px;
    height: auto;
  }
  .name-wrapper {
    display: none;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    .name {
      padding: 2px 4px 3px;
      background: #000000;
      color: #ffffff;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

.details {
  position: relative;
  width: 362px;
  margin: 0 auto;
  padding: 8px 12px;
  background: #000000;
  color: #ffffff;
  text-align: left;
  .close-details {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  .details-view {
    width: 70px;
  }
  .details-name {
    margin-bottom: 10px;
  }
  .detail-description {
    margin-bottom: 10px;
  }

  .quantity, .statistique{
    margin-bottom: 15px;
  }
}

// div stats et style
.container-stat {
  display: flex;
  margin: auto;
  border-bottom: 2px solid black;
  background-color: beige;
  height: 100%;
}

.stat-life {
  margin: 12px;
  font-size: 22px;
}
.stat-dexterite {
  margin: 12px;
  font-size: 22px;
}
.stat-force {
    margin: 12px;
    font-size: 22px;
}
.stat-experience{
  margin: 12px;
  font-size: 22px;
}
.stat-level {
  margin: 12px;
    font-size: 22px;
}

.stat-job {
  margin: 12px;
    font-size: 22px;
}

.stat-money {
  margin: 12px;
  font-size: 22px;
}

// image de fond pour le composent Inventory-item
.battle-gear {
  width: 300px;
  display: flex;
  margin: 0px auto;
}

.equipement-panel .inner-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .equip-block {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    .img-equip img {
      width: 80px;
    }
  }
}

.test-form{
  input[type="text"]{
    margin: 0 0 15px;
    padding: 8px;
    border-radius: 5px;
  }
  button{
    padding: 8px 12px;
    border-radius: 5px;
    color: white;
    background-image: url('../../../public/images/bg/bois.jpeg');
    background-size: 100% auto;
    background-position: center;
  }

  .menu-button{
    height: 50px;
    width: 15vw;
    margin: 0 0 15px;
    padding-left: 48px;
    background-color: rgba(148,207,255,.5);
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 10px;
    -webkit-box-shadow: inset 1px 1px 5px #fff;
    box-shadow: inset 1px 1px 5px #fff;
    color: #fff;
    font-size: 1.2rem;
    -webkit-transition: background .1s;
    transition: background .1s;
    text-align: left;
    background-repeat: no-repeat;
    background-position: left 12px center;
    background-size: 28px;
    &.accueil{
      background-image: url('../../../public/images/idleMenuIcons/accueil.png');
    }
    &.boutique{
      background-image: url('../../../public/images/idleMenuIcons/boutique.png');
    }
    &.combat{
      background-image: url('../../../public/images/idleMenuIcons/combat.png');
    }
    &.craft{
      background-image: url('../../../public/images/idleMenuIcons/craft.png');
    }
    &.fishing{
      background-image: url('../../../public/images/idleMenuIcons/fishing.png');
    }
    &.inventory{
      background-image: url('../../../public/images/idleMenuIcons/inventory.png');
    }
    &.minerai{
      background-image: url('../../../public/images/idleMenuIcons/mining.png');
    }
  }
}
