@use 'src/styles/vars';

.character {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  .panel {
    padding: 15px;
    box-sizing: border-box;
    .inner-panel {
      height: 300px;
      border: 1px rgba(0, 0, 0, 0.164) solid;
      background: vars.$baseColor;
      box-shadow: inset 1px 1px 5px white;
      border-radius: 10px;
    }
  }
  .inventory-panel {
    flex-basis: 100%;
  }
  .equipement-panel {
    flex-basis: 50%;
  }
  .stat-panel {
    flex-basis: 50%;
  }
}

.inventory-panel .inner-panel{
  padding: 30px;
  font-size: 0px;
  & > div{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding: 0px 15px;
    font-size: 14px;
  }
}

.inventory-category{
  position: relative;
  width: 362px;
  margin: 0 auto;
  border: 1px solid #000;
  border-bottom: none;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #000;
  }
}

.menu-inventory {
  position: relative;
  width: 360px;
  font-size: 0px;
  border-bottom: 1px solid #000;

  .cat-name {
    display: inline-block;
    width: 120px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e4e4e4;
    &:not(:first-child) {
      border-left: 1px solid #000;
    }
    &.vivres {
      background-image: url("../../../public/images/vivre/vivre.png");
    }
    &.ressources {
      background-image: url("../../../public/images/ressources/ressources.png");
    }
    &.equipement {
      background-image: url("../../../public/images/equipement/equipement.png");
    }
    &.on {
      background-color: #8a8a8a;
    }
    &:hover {
      background-color: #8a8a8a;
      & > span {
        display: block;
      }
    }
    & > span {
      display: none;
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      span {
        line-height: 1;
        padding: 5px 12px;
        font-size: 14px;
        color: #ffffff;
        background: #000000;
      }
    }
  }
}

.object {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 72px;
  height: 60px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  vertical-align: middle;
  background-color: #faebd7;
  &.on {
    background-color: #a78558;
  }
  .equipement & {
    width: 90px;
    background-color: #f0f8ff;
    &.on {
      background-color: #8e9498;
    }
    &:last-child {
      border-right: none;
    }
  }
  &:nth-child(5n) {
    border-right: none;
  }
  .view-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &:hover {
      & + .name-wrapper {
        display: block;
      }
    }
  }

  .nbr{
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 18px;
    height: 18px;
    border-radius: 15px;;
    text-align: center;
    line-height: 18px;
    background-color: #ab120d;
    color: #ffffff;
    font-size: 10px;
  }
  .view{
    width: 50px;
    height: auto;
  }
  .name-wrapper {
    display: none;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    .name {
      padding: 2px 4px 3px;
      background: #000000;
      color: #ffffff;
      line-height: 1;
      white-space: nowrap;
    }
  }
}

.details {
  position: relative;
  width: 362px;
  margin: 0 auto;
  padding: 8px 12px;
  background: #000000;
  color: #ffffff;
  text-align: left;
  .close-details {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  .details-view {
    width: 70px;
  }
  .details-name {
    margin-bottom: 10px;
  }
  .detail-description {
    margin-bottom: 10px;
  }

  .quantity, .statistique{
    margin-bottom: 15px;
  }
}

// image de fond pour le composent Inventory-item
.battle-gear {
  width: 300px;
  display: flex;
  margin: 0px auto;
}

.equipement-panel .inner-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  .equip-block {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    .img-equip img {
      width: 80px;
    }
  }
}

.stat-wrapper{
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
}
.stat-block{
  display: flex;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 5px 15px 5px 35px;
  background-repeat: no-repeat;
  background-size: auto 28px;
  background-position: 0px center;
  margin: 10px 0;
  font-size: 22px;
  line-height:1.3;
  min-height: 32px;
  &.stat-life{
    background-image: url('../../../public/images/vivre/vivre.png');
    .filled{
      background-color: #ab120d;
    }
  }
  &.stat-dexterite{
    background-image: url('../../../public/images/stats/target.png');
  }
  &.stat-force{
    background-image: url('../../../public/images/stats/force.png');
  }
  &.stat-experience{
    background-image: url('../../../public/images/stats/experience.png');
    .filled{
      background-color: #000000;
    }
  }
  &.stat-level{
    background-image: url('../../../public/images/stats/level.png');
  }
  &.stat-money{
    background-image: url('../../../public/images/idleMenuIcons/boutique.png');
  }
  &.stat-endurance{
    background-image: url('../../../public/images/stats/shield.png');
  }
  .gauge{
    position: relative;;
    height:8px;
    border-radius:8px;
    border: 1px solid grey;
    flex-grow: 1;
    .filled{
      height: 100%;
      border-radius: 8px;
    }
    span{
      position: absolute;
      top: -25px;
    }
  }
}
