// EQUIPMENTS
.épéedefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee3.png');
}

.casquedefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque.png');
}

.armuredefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure1.png');
}

.bottesdefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte1.png');
}

.épéedebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee2.png');
}

.casquedebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque2.png');
}

.armuredebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure2.png');
}

.bottesdebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte2.png');
}

.épéedor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee.png');
}

.casquedor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque4.png');
}

.armuredor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure3.png');
}

.bottesdor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte3.png');
}

.épéedecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee4.png');
}

.casquedecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque5.png');
}

.armuredecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure4.png');
}

.bottesdecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte4.png');
}

// RESOURCES
// MINE
.fer {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/fer.png');
  background-repeat: no-repeat;
  background-position: center;
}

.or {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/or.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bronze {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/bronze.png');
  background-repeat: no-repeat;
  background-position: center;
}

.cobalte {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/cobalt.png');
  background-repeat: no-repeat;
  background-position: center;
}
// FISHING
.grenouille {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/grenouille.png');
  background-repeat: no-repeat;
  background-position: center;
}

.calamar {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/calamar.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carpedorée {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/carpedorée.png');
  background-repeat: no-repeat;
  background-position: center;
}

.saumon {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/saumon.png');
  background-repeat: no-repeat;
  background-position: center;
}
