// EQUIPMENTS
.épéedefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee3.png');
}

.casquedefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque.png');
}

.armuredefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure1.png');
}

.bottesdefer {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte1.png');
}

.épéedebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee2.png');
}

.casquedebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque2.png');
}

.armuredebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure2.png');
}

.bottesdebronze {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte2.png');
}

.épéedor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee.png');
}

.casquedor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque4.png');
}

.armuredor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure3.png');
}

.bottesdor {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte3.png');
}

.épéedecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epee4.png');
}

.casquedecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casque5.png');
}

.armuredecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armure4.png');
}

.bottesdecobalte {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/botte4.png');
}

.épéeenblancheroche {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/epee/epeeenblancheroche.png');
}

.casqueenblancheroche {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casqueenblancheroche.png');
}

.armureenblancheroche {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armureenblancheroche.png');
}

.bottesenblancheroche {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/bottesenblancheroche.png');
}

.lancederubis {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/lance/lancederubis.png');
}

.casquederubis {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casquederubis.png');
}

.armurederubis {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armurederubis.png');
}

.bottesderubis {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/bottesderubis.png');
}

.hachedejade {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armes/hache/hachedejade.png');
}

.casquedejade {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/casque/casquedejade.png');
}

.armuredejade {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/armure/armuredejade.png');
}

.bottesdejade {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/equipement/bottes/bottesdejade.png');
}
// RESOURCES
// MINE
.fer {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/fer.png');
  background-repeat: no-repeat;
  background-position: center;
}

.or {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/or.png');
  background-repeat: no-repeat;
  background-position: center;
}

.bronze {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/bronze.png');
  background-repeat: no-repeat;
  background-position: center;
}

.cobalte {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/cobalt.png');
  background-repeat: no-repeat;
  background-position: center;
}

.blancheroche {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/blancheroche.png');
  background-repeat: no-repeat;
  background-position: center;
}

.jade {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/jade.png');
  background-repeat: no-repeat;
  background-position: center;
}

.rubis {
  width: 32px;
  height: 32px;
  background-image: url('../assets/mining/rubis.png');
  background-repeat: no-repeat;
  background-position: center;
}
// FISHING
.grenouille {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/grenouille.png');
  background-repeat: no-repeat;
  background-position: center;
}

.calamar {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/calamar.png');
  background-repeat: no-repeat;
  background-position: center;
}

.carpedorée {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/carpedorée.png');
  background-repeat: no-repeat;
  background-position: center;
}

.saumon {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/saumon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.thon {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/thon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.thonrouge {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/thonrouge.png');
  background-repeat: no-repeat;
  background-position: center;
}

.barracuda {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/barracuda.png');
  background-repeat: no-repeat;
  background-position: center;
}

.poissonglobe {
  width: 32px;
  height: 32px;
  background-image: url('../../public/images/vivre/poissonglobe.png');
  background-repeat: no-repeat;
  background-position: center;
}
