@use 'reset';
@use 'vars';

// or you can import your own font
@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Retro';
  src: url('../assets/fonts/Retro-Gaming.ttf');
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Retro', sans-serif;
}

button, input[type="text"]{
  font-family: 'Retro', sans-serif;
}

